body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    margin-top: 0;
}
.input-grupo {
    padding-right: 16px;
    margin-bottom: 15px;
}
.input-grupo label {
    display: block;
    margin-bottom: 5px;
}
.input-grupo input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-grupo input:focus {
    border-color: #007bff;
    outline: none;
}
.input-grupo button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.input-grupo button:hover {
    background-color: #0056b3;
}
#mensagem {
    color: red;
    text-align: center;
    margin-top: 20px;
}

body.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8d7da;
    font-family: Arial, sans-serif;
}

.success-container .button {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.success-container .button h1 {
    color: #721c24;
    margin-bottom: 20px;
    font-size: 24px;
}

.success-container .button a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.success-container .button a:hover {
    background-color: #0056b3;
}